// Importing fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap');

// Colors
$primaryColor: #FECE2F;
$darkColor: #1A1A1A;
$lightColor: #F9F9F9;

// Mixins and Media Queries
@mixin Desktop {
  @media (min-width: 750px) {
    @content;
  }
}

// Resetting
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $darkColor;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;

  @include Desktop {
    font-size: 48px;
  } 
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;

  @include Desktop {
    font-size: 36px;
  }
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  @include Desktop {
    font-size: 18px;
  }
}

p {
  font-size: 12px;
  line-height: 20px;
  opacity: 0.7;
}

a {
  color: $lightColor;
}

// Styling
.container {
  max-width: 980px;
  margin: 0 auto;
}

.sandwich {
  padding: 3rem 1rem;
}

.caption {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.3;
}

.button {
  display: block;
  padding: 12px;
  min-width: 150px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  &-primary {
    background: $primaryColor;
    box-shadow: 0px 4px 18px $primaryColor;
  }
  
  &-secondary {
    border: 1px solid $lightColor;
    opacity: 0.7;
  }
}


header {
  padding: 2rem 0 1rem 0;
  background: $darkColor;
  color: $lightColor;

  @include Desktop {
    padding: 3rem 0 7rem 0;
  }

  .navigation-bar {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    nav {
      display: none;
      @include Desktop {
        display: block;
        ul {
          li {
            display: inline-block;
            font-size: 14px;
            margin-left: 40px;

            &.active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .hero-text {
    text-align: center;
    margin: 3rem auto 4rem auto;

    @include Desktop {
      margin: 7rem auto 4rem auto;
    }

    h1, p {
      color: $lightColor;
      max-width: 280px;
      margin: 0 auto;
      @include Desktop {
        max-width: 580px;
      }
    }
  }

  .btns-group {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: 30px auto;
    justify-content: space-between;
    
    .button { margin: 5px 0; }

    @include Desktop {
      width: 310px;
    }
  }
}

.companies-listing {
  background: #F3F3F3;

  .horizontal-listing {
    max-width: 750px;
    padding: 3rem 1rem;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include Desktop {
      flex-direction: row;
    }

    img {
      align-self: center;
      margin: 2rem 1rem;
    }
  }
}

.services {
  
  .text-block {
    text-align: center;

    h2 {
      padding: 0.7rem 0;
    }

    p {
      max-width: 580px;
      margin: 0 auto;
    }
  }

  .services-listing {
    padding: 1rem;
    border-bottom: 1px solid rgba(138, 138, 138, 0.3);
    .service {
      max-width: 760px;
      margin: 3rem auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      
      > * {
        align-self: center;
      }

      .service-text {
        max-width: 310px;
      
        h3 {
          padding: 1rem 0;
          
        }

        p {
          font-size: 10px;

          @include Desktop {
            font-size: 12px;
          }
        }
      }

      @include Desktop {
        flex-direction: row;
        margin: 7rem auto;

        &:nth-of-type(2) {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

.projects {
  .text-block {
    text-align: center;
  }
  .projects-listing {
    padding: 3rem 0;
    .project {
      max-width: 758px;
      margin: 1.5rem auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      background: #fff;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);

      @include Desktop {
        flex-direction: row;
        &:nth-of-type(1), &:nth-of-type(3) {
          flex-direction: row-reverse;
          padding-right: 10rem;
        }
      }

      .project-text {
        align-self: center;
        padding: 2rem 0;
        text-align: center;

        @include Desktop {
          padding: 30px 0 20px 45px;
          text-align: left;
        }

        h3, p {
          max-width: 230px;
        }

        p {
          font-size: 10px;
          padding: 1rem 0;
        }

        .button {
          color: $darkColor;
          border-color: $darkColor;
          display: inline-block;
          
        }
      }
    }
  }
}